{% extends 'gepyxis/layouts/layout.html.twig' %}


{% block content %}
<section class="contact aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="text-center">

        <div class="form-signin mb-5">

            <form method="post">
                <h1 class="display-3 mb-3 font-weight-normal">{{ 'account.password-recovery' | trans }}</h1>

                <p>{{ 'account.password-recovery-text' | trans([email]) }}</p>
                <input type="password" id="password" name="password" required="required" class="form-control">
                <input type="hidden" id="token" name="token" value="{{ token }}" />

                <div class="form-group">
                    <button type="submit" id="_submit" name="_submit" class="btn-success btn-lg btn-block mt-4 btn">{{ 'account.set-password' | trans }}</button>
                </div>

            </form>

        </div>
    </div>
</section>
{% endblock %}