{% extends 'gepyxis/layouts/layout.html.twig' %}


{% block content %}
<section class="contact aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="text-center">

        <div class="form-signin mb-6">

            <form method="post">
                <h1 class="display-3 mb-3 font-weight-normal">{{ 'Recuperar contrase침a' }}</h1>
                <input type="email" id="email" name="email" required="required" class="form-control" placeholder="Ingresar correo electr칩nico" value="{{ emailPrefill }}" />

                <div class="form-group">
                    <button type="submit" id="_submit" name="_submit" class="btn-success btn-md btn-block mt-4 btn">{{ 'Enviar correo de recuperaci칩n de contrase침a' }}</button>
                </div>

            </form>

        </div>
    </div>
</section>
{% endblock %}